header {
  color: rgb(0, 0, 0);
  background-color: #216564 ;
clear: left;
text-align: center;
padding: 70px; 
}
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 20%;
}
.sigmar-one-regular {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'Sigmar One';
}
h2, h3, h5 {
  text-shadow: 2px 2px 5px rgb(88, 88, 88);
}
body {
    display: flex;
    background-color: whitesmoke ;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    flex-direction: column;
    height: fit-content;
  }

/* sarakkeet */
.vasensarake {   
    float: left;
    width: 74%;
    padding-left: 30px;
  }
  .oikeasarake {
    float: left;
    width: 25%;
    background-color: whitesmoke ;
    padding: 10px;
    padding-right: 20px;
  }
  .column12 {
  float: left;
  width: 37%;
  padding-left: 30px;
}
.column3 {
  float: left;
  width: 25%;
  padding: 10px;
  padding-right: 20px;
}
  @media screen and (max-width:1000px) {
  .vasensarake, .column12, .oikeasarake, .column3 {
    width: 100%;
    padding: 0;
  }
}
  .rivi::after {
    content: "";
    display: table;
    clear: both;
  }
  
    /* tekstien muotoilu */
  .kuvateksti {
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }
  .blogi {
    font-size: 18px;
  }

  /* navigoinnin tyyli */
  .responsive-nav {
    background-color: black;
    color: white;
    padding: 10px;
}

.responsive-nav .menu-toggle {
    display: none;
    background-color: black;
    color: #eea57e;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.responsive-nav .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.responsive-nav .nav-list li {
    margin: 0;
}

.responsive-nav .nav-list li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.responsive-nav .nav-list li a:hover {
    background-color: #eea57e;
    border-radius: 5px;
}
li a, .drop {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .drop {
  background-color:  black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* navigoinnin tyyli pienellä ruudulla */
@media (max-width: 600px) {
    .responsive-nav .menu-toggle {
        display: block;
    }

    .responsive-nav .nav-list {
        display: none;
        flex-direction: column;
        background-color: black;
        width: 100%;
        color: #216564;
    }

    .responsive-nav .nav-list.active {
        display: flex;
    }

    .responsive-nav .nav-list li {
        text-align: center;
    }
}
  
  /* kuvan taustaväri */
  .kuvantausta {
    background-color: #eea57e;
    width: 100%;
    padding: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  /* korttipohja */
  .kortti {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  }
  
  /* Footer */
  footer {
    padding: 20px;
    text-align: center;
    background: #216564;
    margin-top: 20px;
    font-family: 'Sigmar One';
  }
  
  /* responsiivisuus */
  .kuva {
    max-width: 100%;
    height: auto;
    width: auto;
  }


/* taulukko */
.taulukko {
  width: 100%;
border-collapse: separate;
}
.rivit,
.ekarivi {
  border: 1.5px solid #000000;
  border-radius: 8px;
  padding: 6px;
  text-align: left;
}
.ekarivi {
  font-size: 20px;
  background-color: #216564;
  background-image: linear-gradient(#216564, #4da09e);
  color: white;
}

/* kyselyn muotoilu */
input[name="suosikki"] {
  background-color: #216564;
  font-size: 19px;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 100%;
}
input[name="suosikki"]:hover {
  background-color: black;
  color: #eea57e;
  font-size: 18px;
  width: 100%;
}

/* tietovisa */
.tietovisa {
  width: 100%;
border-collapse: collapse;
}
.visa {
  font-size: 17px;
  background-color: transparent;
  color: rgb(0, 0, 0);
  padding: 6px;
  text-align: left;
  border-bottom: 1.5px solid black;
}
.ruutu {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.ruutu input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.check {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eea57e;
  border: 1px solid black;
}
.check:after {
  content: "";
  position: absolute;
  display: none;
}
.ruutu input:checked ~ .check:after {
  display: block;
}
.ruutu .check:after {
  left: 6px;
  top: 2px;
  width: 7px;
  height: 12px;
  border: solid rgb(0, 0, 0);
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[name="nappula"] {
border-radius: 50%;
padding: 15px;
float: right;
background-color: #eea57e;
color: #000000;
}
input[name="nappula"]:active {
  color: #eea57e;
  background-color: black;
  box-shadow: 0 5px #eea57e;
  transform: translateY(4px);
}
input[name="vastaus"] {
  width: 70%;
  border: none;
  border-bottom: 1.5px solid black;
  padding: 8px;
}

  /* tokan muotoilu */
.autokuva1, .autokuva2, .autokuva3 {
  background-color: #eea57e;
  padding: 10px;
  text-align: center;
}
.kuvakokoelma3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; 
}
@media screen and (max-width: 1300px) {
  .kuvakokoelma3 {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
 }
}
@media screen and (max-width: 489px) {
 .kuvakokoelma3 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
}

/* kolmosen muotoilu */
.farmikuva:hover {
  border: 5px solid black;
}
.kuvakehys {
  padding: 10px;
  text-align: center;
}
.kuvakokoelma4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px;
}
.vasen,
.oikea{
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.farmikuva {
  border: 5px solid #eea57e;
  object-fit: cover;
}

  /* vitosen muotoilu */
.kuvakokoelma {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px; 
}
@media screen and (max-width: 489px) {
 .kuvakokoelma {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 }
}
.rantakuva {
  background-color: #eea57e;
  padding: 10px;
  text-align: center
}
figure {
  margin: auto;
}
figcaption {
  color: rgb(0, 0, 0);
  font-style: italic;
  padding-top: 5px;
  text-align: center;
}
.kuvakokoelma2 {
    display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding-top: 10px;
}



