header {
  color: rgb(0, 0, 0);
  background-color: #216564 ;
clear: left;
text-align: center;
padding: 70px; 
}

.sigmar-one-regular {
  font-family: "Sigmar One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: 'Sigmar One';
}
body {
    display: flex;
    background-color: whitesmoke ;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px solid black;
    flex-direction: column;
    height: fit-content;
  }

    /* tekstien muotoilu */
  .kuvateksti {
    padding: 15px;
    text-align: center;
    font-size: 18px;
  }
  .blogi {
    font-size: 18px;
  }

  /* navigoinnin tyyli */
  .responsive-nav {
    background-color: black;
    color: white;
    padding: 10px;
}

.responsive-nav .menu-toggle {
    display: none;
    background-color: black;
    color: #eea57e;
    border: none;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    text-align: left;
}

.responsive-nav .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.responsive-nav .nav-list li {
    margin: 0;
}

.responsive-nav .nav-list li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.responsive-nav .nav-list li a:hover {
    background-color: #eea57e;
    border-radius: 5px;
}
li a, .drop {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .drop {
  background-color:  black;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* navigoinnin tyyli pienellä ruudulla */
@media (max-width: 600px) {
    .responsive-nav .menu-toggle {
        display: block;
    }

    .responsive-nav .nav-list {
        display: none;
        flex-direction: column;
        background-color: black;
        width: 100%;
        color: #216564;
    }

    .responsive-nav .nav-list.active {
        display: flex;
    }

    .responsive-nav .nav-list li {
        text-align: center;
    }
}

/* Left column */
.leftcolumn {   
    float: left;
    width: 74%;
    padding-left: 30px;
  }
  
  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    background-color: whitesmoke ;
    padding: 10px;
  }

  
  /* Fake image */
  .fakeimg {
    background-color: #eea57e;
    width: 100%;
    padding: 10px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  
  /* Add a card effect for articles */
  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #216564;
    margin-top: 20px;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }

  /* kuvien responsiivisuus */
  .kuva {
    max-width: 100%;
    height: auto;
    width: auto;
  }

/*  ekan muotoilu */
.column {
  float: left;
  width: 33%;
  padding-left: 30px;

}

@media screen and (max-width:800px) {
  .column, .column1 {
    width: 100%;
    padding: 0;
  }
}

/* taulukko */
table {
  width: 100%;
border-collapse: separate;
}
th,
td {
  border: 1.5px solid #000000;
  border-radius: 8px;
  padding: 6px;
  text-align: left;
}
th {
  font-size: 20px;
  background-color: #216564;
  color: white;
}

/* kolmosen muotoilu */
div.gallery {
  margin: 5px;
  border: 5px solid #eea57e;
  float: left;
  width: 395px;
}

div.gallery:hover {
  border: 5px solid black;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}
.kuvagalleria {
    width: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
  }

  /* vitosen muotoilu */
.kuvakokoelma {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  grid-gap: 10px;
}
.grid-item {
  background-color: #eea57e;
  padding: 10px;
  text-align: center;
}
figure {
  margin: auto;
}
figcaption {
  color: rgb(0, 0, 0);
  font-style: italic;
  padding-top: 5px;
  text-align: center;
}
.kuvakokoelma2 {
    display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-gap: 10px;
  padding-top: 10px;
}