p {
  color:rgb(48, 73, 12)
}
body {
    background-color: rgb(243, 182, 219);
  }
h1 {
    font-size: 2em;}

table {
  width: 50%;
border-collapse: separate;
}
th, td {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  text-align: left;
}

th {background-color: rgb(140, 71, 238);
  font-size: 1.3em;
}
td {background-color:rgb(170, 117, 243) ;}
form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 20%
}
label {
  font-weight: bold;
}
input[type="text"], input[type="email"] {
  padding: 8px;
  border: 1px solid  rgb(83, 7, 69);
  border-radius: 10px;

}
input[type="submit"] {
  background-color: rgb(83, 7, 69);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: rgb(221, 26, 224);
}