body {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border: 1px solid rgb(81, 5, 151);
  flex-direction: column;
  height: fit-content;
}

header {
  color: rgb(0, 0, 0);
  background-color: #dc8ff0;
  clear: left;
  text-align: center;
}
footer {
  padding: 1em;
  color: rgb(0, 0, 0);
  background-color: #dc8ff0;
  clear: left;
  text-align: center;
}

h1 {
  text-align: center;
}

h2 {
  text-align: left;
}

p {
  position: relative;
  left: 20px;
  font-family: Arial, sans-serif;
}

/* harrastuslista */
ul {
  list-style-type: none;
  padding: 5px;
}

/* navigointi */
nav {
  max-width: 100%;
  background-color: #000000;
  margin: 0;
  padding: 1em;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color: rgb(83, 7, 69);
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
nav li {
  float: left;
}
li a:hover {
  background-color:  #dc8ff0;;
}


section {
  float: left;
  width: 70%;
  padding: 1em;
  color: rgb(0, 0, 0);
  height: 1200px;
}

/* sivupalkin määrittely */
aside {
  font-size: 1.05em;
  float: right;
  width: 20%;
  padding: 1em;
  border-left: 1px solid gray;
  color: rgb(0, 0, 0);
  height: 1240px;
}

/* taulukko */
table {
  width: 50%;
border-collapse: separate;
}
th,
td {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 8px;
  text-align: left;
}
tr:nth-child(odd) {
  background-color: rgb(169, 114, 245);
}
tr:nth-child(even) {
  background-color: rgb(233, 144, 245);
}
th {
  font-size: 1.3em;
}

/* form */
form {
  display: flex;
  flex-direction: column;
  gap: 2px;
  width: 20%
}
/* form */
label {
  font-weight: bold;
}
input[type="text"], input[type="email"] {
  padding: 8px;
  border: 1px solid  rgb(83, 7, 69);
  border-radius: 10px;
}
input[type="submit"] {
  background-color: rgb(83, 7, 69);
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: rgb(221, 26, 224);
}

/* liikkuva laatikko */
.animation-box {
  margin: 20px;
  width: 70px;
  height: 50px;
  position: relative;
  animation: move 4s infinite alternate;
}
@keyframes move {
  0%   {background-color:rgb(247, 247, 132); left:0px; top:0px;}
  25%  {background-color:rgb(190, 136, 225); left:100px; top:0px;}
  50%  {background-color:rgb(135, 193, 211); left:100px; top:100px;}
  75%  {background-color:rgb(131, 215, 205); left:0px; top:100px;}
  100% {background-color:rgb(247, 247, 132); left:0px; top:0px;}
}

/* kuvan muotoilu */
.omakuva {
  border-radius: 8px;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.omakuva:hover {
  filter: grayscale(0%);
}

/* fraasi */
.quote {
  position: sticky;
  top: 0;
  padding-bottom: 20px;
  font-style: oblique;
  float: right;
}

.quote:before {
  content: "~";
  font-size: 50px;
  position: absolute;
  left: 0;
  top: 0;
  color: rgb(83, 7, 69);
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.box {
  background-color: rgb(169, 114, 245);
  padding: 20px;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.grid-item {
  background-color: rgb(247, 247, 132);
  padding: 20px;
  text-align: center;
}
/* responsiivinen laatikko */
.responsive-box {
  padding: 20px;
  text-align: center;
}
/* responsiivinen laatikko */
@media (max-width: 600px) {
  .responsive-box {
    background-color: rgb(135, 193, 211);
  }
}
/* responsiivinen laatikko */
@media (min-width: 601px) {
  .responsive-box {
    background-color: rgb(190, 136, 225);
  }
}